@media screen and (min-width: 0px) {
    h1 {
        font-size: 3.7rem;
    }

    .btns {
        width: 20%;
        font-size: 25px;
    }
}

@media screen and (min-width: 425px) {
    .btns {
        font-size: 30px;
    }

    #content p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    #content-container {
        margin-top: 2%;
    }

    #content-area {
        font-size: 14px;
    }

    .btns {
        height: auto;
        font-size: 25px;
    }

    #words,
    #accuracy {
        display: none;
    }

    #web-time {
        display: none;
    }

    #mobile-time {
        margin-top: -0%;
    }
}

@media screen and (min-width: 1024px) {
    #content-area {
        font-size: 20px;
    }

        .btns {
        font-size: 25px;
        height: 10vh;
    }

    #content-container {
        margin-top: 2%;
    }

    #content p {
        font-size: 1.2rem;
    }

    #words,
    #accuracy {
        display: block;
    }

    #web-time {
        display: block;
    }

    table {
        display: none;
    }

    #mobile-time {
        display: none;
    }

    #emp {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    #content-area {
        font-size: 25px;
    }

        .btns {
        width: 20%;
        font-size: 30px;
    }

    #content-container {
        margin-top: 0%;
    }

    #content p {
        font-size: 1.5rem;
    }

    #words,
    #accuracy {
        display: block;
    }

    table {
        display: none;
    }

    #mobile-time {
        display: none;
    }

    #emp {
        display: none;
    }
}